/* CSS declarations go here */

html, body, h1, ul, li, div, form, section {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
	line-height: normal;
}

.group {
	content: "";
	clear: both;
	display: block;
}

body {
	font-family: 'PT Sans', sans-serif;
}

input[type="submit"] {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
	padding: 5px 10px;
	margin: 5px 5px 5px 0;
	font-weight: bold;
	background: transparent;
	border: 1px solid #ccc;
}

input[type="text"] {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
	background: transparent;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
	width: 808px;	
}

h1 {
	font-size: 48px;
	text-align: center;
	margin: 20px 0;
}

ul {
	list-style: none;
}

div.logged-in {
	font-size: 16px;
	margin: 10px;

}

div.reset-username {
	font-size: 16px;
	padding: 10px 20px;
	background-color: blue;
	color: white;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	margin: 10px;
}

div.reset-username:hover {
	cursor: pointer;
}

section.chat-room {
	width: 900px;
	padding: 5px;
	margin: auto;
	border: 2px solid #333;
	border-radius: 5px;
	margin-bottom: 40px;
}

ul#chats {
	height: 500px;
	display: block;
	overflow: auto;
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

ul#chats li.chat {
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	/*border: 1px solid red;*/
}

li.chat > .username {
	float: left;
	width: 150px;
	color: #333;
	font-weight: bold;
}

li.chat > .message {
	width: 739px;
	float: right;
	width: 650px;
	color: #5a5a5a;	
}


/* For Clippy */

.clippy, .clippy-balloon {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}

.clippy-balloon {

    background: #FFC;
    color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;

}

.clippy-content {
    max-width: 200px;
    min-width: 120px;
    font-family: "Microsoft Sans", sans-serif;
    font-size: 10pt;
}

.clippy-tip {
    width: 10px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
}

.clippy-top-left .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 100%;
    margin-left: -50px;
}

.clippy-top-right .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 0;
    margin-left: 50px;
    background-position: -10px 0;

}

.clippy-bottom-right .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 0;
    margin-left: 50px;
    background-position: -10px -16px;
}

.clippy-bottom-left .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 100%;
    margin-left: -50px;
    background-position: 0px -16px;
}
